{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block current_app_content %}
    <div class="jumbotron col-md-12">
        <div class="container ">
            <h1>About MySQL</h1>
            <p>MySQL is the world's most popular open source database. With its proven performance, reliability and
                ease-of-use, MySQL has become the leading database choice for web-based applications, used by high
                profile
                web properties including Facebook, Twitter, YouTube, Yahoo! and many more.</p><br>
            <p>Oracle drives MySQL innovation, delivering new capabilities to power next generation web, cloud, mobile
                and
                embedded applications.</p>
        </div>
    </div></div>
{% endblock %}