{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block current_app_content %}
    <div class="container" style="margin-top:40px">
        <div class="col-md-3">
            <ul class="list-group">
                {% for a in link %}
                    <li class="list-group-item"><a href="{{ a.url }}"><i
                            class="glyphicon glyphicon-play"></i> {{ a.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-9">
            <div class="right-content-bg">
                <img src="{{ url_for('static', filename='img/certification.jpg') }}"
                     class="img-responsive center-block">
                <div class="well">
                    <p>Oracle Certifications are among the most sought after badges of credibility for expertise in the
                        Information Technology marketplace. An Oracle Certification demonstrates that you have a solid
                        understanding of your job role and of MySQL products.

                        Consultants, developers and DBAs use Oracle certifications on MySQL to show prospective
                        employers and customers that they are current on the latest features, tools and tricks.</p>
                </div>
                <h3>Available Certifications for MySQL:</h3>
                <ul class="m01">
                     <a href="https://education.oracle.com/database/mysql/pFamily_406?certPage=true">
                         <li>Database Administration</li></a>
                    <a href="https://education.oracle.com/database/mysql/pFamily_406?certPage=true">
                        <li>Database Developer</li></a>
                </ul>
                <ul class="list-group">
                    {% for a in st %}
                        <li class="list-group-item active">{{ a.title }}</li>
                        <li class="list-group-item">{{ a.content }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}