{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block current_app_content %}
    <div class="jumbotron jumbotron-fluid">
        <h1>Contact MySQL Sales</h1></div>
    <table class="table">
        <tbody>
        {% for a in contact %}
            <tr>
                <th scope="row">{{ a.region }}</th>
                <td><img src="{{ url_for ('static', filename='img/'+a.flag) }}"/>{{ a.country }}</td>
                <td>{{ a.phone }}<br>{{ a.email }}</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}