{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block current_app_content %}
    <div class="container" style="margin-top:40px">
        <div class="col-md-3">
         <ul class="list-group">
                {% for a in service %}
                    <li class="list-group-item"><a href="{{ a.url }}"><i
                            class="glyphicon glyphicon-play"></i> {{ a.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-9">
            <div class="right-content-bg">
            <div class="jumbotron">
                <h1>MySQL Services</h1> </div>
                {% for a in service %}
                    <li class="list-group-item active"><i
                            class="glyphicon glyphicon-play"></i> {{ a.name }}</li>
                    <li class="list-group-item"><i
                            class="glyphicon glyphicon-play"></i> {{ a.intro }}</li>
                    <li class="list-group-item"><a href="{{ a.url }}"><i
                            class="glyphicon glyphicon-play"></i>Learn More »</a></li>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}