{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block current_app_content %}
    <div class="container col-md-12">
        <h2>Index of Edit Database </h2>
        <br>
        <!-- Nav pills -->
        <ul class="nav nav-pills" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="pill" href="#Product">Product</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="#Service">Service</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="#Information">Information</a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div id="Product" class="container tab-pane active"><br>
                <ul class="list-group">
                    <li class="list-group-item active"><h3>Edit Product Info</h3></li>
                    <li class="list-group-item"><a href="{{ url_for('main.info_main_productForm') }}">Info Main Product</a></li>
                    <li class="list-group-item"><a href="{{ url_for('main.edition_form') }}">Info Editions</a></li>
                    <li class="list-group-item"><a href="{{ url_for('main.edition_desc_form') }}">Info Editions Description</a></li>
                    <li class="list-group-item"><a href="{{ url_for('main.cloudservice_form') }}">Info Cloud Service</a></li>
                </ul>
            </div>
            <div id="Service" class="container tab-pane fade"><br>
                <ul class="list-group">
                    <li class="list-group-item active"><h3>Edit Service Info</h3></li>
                    <li class="list-group-item"><a href="{{ url_for('main.edit_service') }}">Info Service</a></li>
                    <li class="list-group-item"><a href="{{ url_for('main.edit_service_type') }}">Info Service Type</a></li>
                </ul>
            </div>
            <div id="Information" class="container tab-pane fade"><br>
                 <ul class="list-group">
                    <li class="list-group-item active"><h3>Edit Information Info</h3></li>
                     <li class="list-group-item"><a href="{{ url_for('main.addcountry') }}">Edit Country</a></li>
                     <li class="list-group-item"><a href="{{ url_for('main.partners_content') }}">Edit Partner</a></li>
                    <li class="list-group-item"><a href="{{ url_for('main.edit_contacts') }}">Edit Contact</a></li>
                     <li class="list-group-item"><a href="{{ url_for('main.edit_whysql') }}">Edit whysql</a></li>
                      <li class="list-group-item"><a href="{{ url_for('main.edit_whysql_content') }}">Edit whysqlContent</a></li>
                      <li class="list-group-item"><a href="{{ url_for('main.edit_events') }}">Edit Events</a></li>
                      <li class="list-group-item"><a href="{{ url_for('main.edit_howtobuy') }}">Edit How To Buy</a></li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}