{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block current_app_content %}
    {{ wtf.quick_form(form) }}
    <hr>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Intro</th>
            <th scope="col">Url</th>
            <th scope="col">Icon</th>
        </tr>
        </thead>
        <tbody>
        {% if update %}
            <tr>
                <td scope="row">{{ mainproduct.id }}</td>
                <td>{{ mainproduct.title }}</td>
                <td>{{ mainproduct.intro }}</td>
                <td>{{ mainproduct.url }}</td>
                <td>{{ mainproduct.icon }}</td>
            </tr>
        {% else %}
            {% for mainproduct in mainproducts %}
                <tr>
                    <td scope="row">{{ mainproduct.id }}</td>
                    <td>{{ mainproduct.title }}</td>
                    <td>{{ mainproduct.intro }}</td>
                    <td>{{ mainproduct.url }}</td>
                    <td>{{ mainproduct.icon }}</td>
                    <td>
                        <form action="{{ url_for('main.info_main_productForm') }}" method="post">
                                                        <a class="btn btn-primary" href="/main_product/{{ mainproduct.id }}" role="button">Edit</a>
                            <input class="btn btn-primary" type="submit" name="{{ mainproduct.id }}" value="Del">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
{% endblock %}